/.idea/.gitignore
/.idea/modules.xml
/.idea/vcs.xml
/.idea/whatsmeow.iml
/web/config.json
/.idea/dataSources.xml
/web/mdtest.db
/web/history-1686577277-1.json
/web/history-1686577277-2.json
/web/history-1686577277-3.json
/web/history-1686577277-4.json
/web/history-1686577277-5.json
